<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.calebtrevino.tallystacker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".views.activities.Application"
        android:allowBackup="true"
        android:fullBackupContent="@xml/app_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="internalOnly"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1dc445084c1cf3898e59f8478cad4fb29af7308a" />

        <activity
            android:name=".views.activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".views.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.calebtrevino.tallystacker.views.activities.MainActivity" />
        </activity>
        <activity
            android:name=".views.activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".controllers.receivers.GameUpdateReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":backend_service"
            android:permission="">
            <intent-filter>
                <action android:name="com.calebtrevino.tallystacker.controllers.receivers.GameUpdateReceiver.GAME_RECEIVER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".controllers.receivers.UpdateReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":backend_service">
            <intent-filter>
                <action android:name="com.calebtrevino.tallystacker.controllers.receivers.UpdateReceiver.UPDATE_RECEIVER" />
            </intent-filter>
        </receiver>

        <service
            android:name=".controllers.services.ScrapperService"
            android:exported="true"
            android:process=":backend_service"
            android:stopWithTask="false" />
        <receiver
            android:name=".controllers.receivers.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":backend_service">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <provider
            android:name=".models.preferences.MultiProcessPreference"
            android:authorities="@string/multiprocess_preferences_authority"
            android:exported="false" />
    </application>

</manifest>